# Prisma Postgres (cloud) connection string
DATABASE_URL="postgres://385ec97b0ac499d06a574236fde08ecc87fd4b5fd82c0e0cda15256466a5c1ac:sk_KW1pafbpQQxQ6MDP_88jl@db.prisma.io:5432/postgres?sslmode=require"

# Server
PORT=8000
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:5173
